/* ADDITIONAL STYLING (INCLUDING OPTIONAL ELEMENTS) */
picture.cssbox { border: 2px solid #333; border-radius: 10px; }

	picture.cssbox label.nav { display: block; position: absolute; width: 60px; height: 50px; top: 50%; transform: translate(0,-50%); background-color: #fff; cursor: pointer; z-index: 4; }
		picture.cssbox label.nav i { display: block; position: relative; margin: 0 auto; text-align: center; line-height: 47px; }
	picture.cssbox label.prev { left: 2px; border-radius: 0 10px 10px 0; }
	picture.cssbox label.next { right: 2px; border-radius: 10px 0 0 10px; }
	picture.cssbox img { border-radius: 10px; margin: -1px; }
	picture.cssbox p { right: 2px; bottom: 2px; left: 2px; border-radius: 0 0 8px 8px; height: 30px; line-height: 30px; }

@media (orientation:portrait)
{
	picture.cssbox { margin-top: 50vh; margin-left: 50vw; }
	input.cssbox[type="radio"]:checked + picture.cssbox { margin-top: 50vh; margin-left: 5vw; }
		picture.cssbox img { width: 0; height: auto; }
		input.cssbox[type="radio"]:checked + picture.cssbox img { width: 90vw; height: auto; }
}