/* ADDITIONAL STYLING (INCLUDING OPTIONAL ELEMENTS) */
.cssbox-box { border: 2px solid #333; border-radius: 10px; }

	.cssbox-box label.nav { display: block; position: absolute; width: 60px; height: 50px; top: 50%; transform: translate(0,-50%); background-color: #fff; cursor: pointer; z-index: 4; }
		.cssbox-box label.nav i { display: block; position: relative; margin: 0 auto; text-align: center; line-height: 47px; }
	.cssbox-box label.prev { left: 2px; border-radius: 0 10px 10px 0; }
	.cssbox-box label.next { right: 2px; border-radius: 10px 0 0 10px; }
	picture.cssbox-box img { border-radius: 10px; margin: -1px; }
	picture.cssbox-box p { right: 2px; bottom: 2px; left: 2px; border-radius: 0 0 8px 8px; height: 30px; line-height: 30px; }

@media (orientation:portrait)
{
	.cssbox-box { margin-top: 50vh; margin-left: 50vw; }
	input.cssbox[type="radio"]:checked + .cssbox-box { margin-top: 50vh; margin-left: 5vw; }
		picture.cssbox-box img { width: 0; height: auto; }
		input.cssbox[type="radio"]:checked + .cssbox-box img { width: 90vw; height: auto; }
}

	.cssbox-content { padding: 0 20px; margin: 20px 0; }
	iframe.cssbox-content { padding: 0; }
	
	.cssbox-content ~ label.prev { left: -60px; }
	.cssbox-content ~ label.next { right: -60px; }