/* LOADER ANIMATION ENABLER */
.cssbox-box:before, .cssbox-box:after { content: ""; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.cssbox-box:before { z-index: 1; }
.cssbox-box:after { border: inherit; border-radius: inherit; background-image: inherit; background-color: transparent; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 2; }

/* ACTUAL LOADER ANIMATION */
@keyframes loadrunner
{
	0% { background-size: 0em 0em, 1em 1em, 1em 1em, 1em 1em; background-position: calc(50% - 1.3em) 50%, calc(50% - 1.3em) 50%, 50% 50%, calc(50% + 1.3em) 50%; }
	100% { background-size: 1em 1em, 1em 1em, 1em 1em, 0em 0em; background-position: calc(50% - 1.3em) 50%, 50% 50%, calc(50% + 1.3em) 50%, calc(50% + 1.3em) 50%; }
}
.cssbox-box:before { font-size: 15px; background-image: radial-gradient(#222 65%, transparent 70%), radial-gradient(#222 65%, transparent 70%), radial-gradient(#222 65%, transparent 70%), radial-gradient(#222 65%, transparent 70%); background-repeat: no-repeat; background-size: 1em 1em, 1em 1em, 1em 1em, 1em 1em; background-position: calc(50% - 1.3em) 50%, calc(50% - 1.3em) 50%, 50% 50%, calc(50% + 1.3em) 50%; animation: loadrunner .6s infinite; }