/* ADDITIONAL STYLING (INCLUDING OPTIONAL ELEMENTS) */
.cssbox-box { border: 11px solid #fff; border-radius: 5px; box-shadow: 0 0 14px 0 #666; }

	.cssbox-box label.nav { display: block; position: absolute; height: 20px; bottom: -4px; overflow: hidden; cursor: pointer; z-index: 4; }
	.cssbox-box label.prev { left: 0; }
	.cssbox-box label.next { left: 74px; }
	picture.cssbox-box img { height: calc(90vh - 22px); border-radius: 5px; margin: -1px; }
	.cssbox-box .close { font-size: 15px; right: 0; top: auto; bottom: -2px; }
	picture.cssbox-box p { right: -9px; bottom: -9px; left: -9px; border-radius: 0 0 3px 3px; height: 30px; line-height: 30px; color: #666; }
	.cssbox-box label.nav, .cssbox-box .close, picture.cssbox-box p { font-size: 14px; }

@media (orientation:portrait)
{
	.cssbox-box { margin-top: 50vh; margin-left: 50vw; }
	.cssbox-select:checked + .cssbox-box { margin-top: 50vh; margin-left: 5vw; }
		picture.cssbox-box img { width: 0; height: auto; }
		.cssbox-select:checked + .cssbox-box img { width: calc(90vw - 22px); height: auto; }
}

	.cssbox-content { padding: 0 20px; margin: 20px 0; }
	iframe.cssbox-content { padding: 0; }
	
	.cssbox-content ~ label.prev { left: 30px; }
	.cssbox-content ~ label.next { left: 105px; }