/* ADDITIONAL STYLING (INCLUDING OPTIONAL ELEMENTS) */
.cssbox-box { border: 11px solid #fff; border-radius: 10px; box-shadow: 0 0 14px 0 #666; }

	.cssbox-box label.nav { display: block; position: absolute; width: 46px; height: 46px; top: 50%; transform: translate(0,-50%); background-color: #fff; overflow: hidden; text-indent: -999999px; cursor: pointer; z-index: 4; }
	.cssbox-box label.prev { left: 2px; border-radius: 0 10px 10px 0; }
	.cssbox-box label.next { right: 2px; border-radius: 10px 0 0 10px; }
	.cssbox-box label.nav:before, .cssbox-box label.nav:after { content: ""; display: block; position: absolute; }
	.cssbox-box label.nav:before { left: 12px; top: 12px; width: 15px; height: 15px; border-left: 6px solid #000; border-bottom: 6px solid #000; border-radius: 5px; transform: rotate(45deg); z-index: 5; }
	.cssbox-box label.nav:after { left: 15px; top: 19px; width: 21px; height: 7px; border-radius: 4px; background-color: #000; }
	.cssbox-box label.next:before { left: auto; right: 12px; transform: rotate(225deg); }
	.cssbox-box label.next:after { left: auto; right: 15px; }
	picture.cssbox-box img { border-radius: 10px; margin: -1px; }
	.cssbox-box .close { right: 2px; top: 2px; border-radius: 0 0 0 10px; font-size: 23px; width: 2em; height: 2em; background-color: #fff; overflow: hidden; text-indent: -999999px; }
	.cssbox-box .close:before, .cssbox-box .close:after { content: ""; display: block; position: absolute; top: 13px; background-color: transparent; width: 13px; height: 13px; border-left: 6px solid #000; border-bottom: 6px solid #000; border-radius: 5px; }
	.cssbox-box .close:before { right: 6px; transform: rotate(45deg); }
	.cssbox-box .close:after { right: 24px; transform: rotate(225deg); }
	picture.cssbox-box p { right: 2px; bottom: 2px; left: 2px; border-radius: 0 0 8px 8px; height: 30px; line-height: 30px; }

@media (orientation:portrait)
{
	.cssbox-box { margin-top: 50vh; margin-left: 50vw; }
	input.cssbox[type="radio"]:checked + .cssbox-box { margin-top: 50vh; margin-left: 5vw; }
		picture.cssbox-box img { width: 0; height: auto; }
		input.cssbox[type="radio"]:checked + .cssbox-box img { width: 90vw; height: auto; }
}

	.cssbox-content { padding: 0 20px; margin: 20px 0; }
	iframe.cssbox-content { padding: 0; }
	
	.cssbox-content ~ label.prev { left: -46px; border-radius: 10px 0 0 10px; }
	.cssbox-content ~ label.next { right: -46px; border-radius: 0 10px 10px 0; }