input.cssbox[type="radio"] { position: absolute; left: 0; top: 0; visibility: hidden; }
label.cssbox { cursor: pointer; }
.cssbox-overlay { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; background-color: rgba(255,255,255,.9); z-index: 10000; }
.cssbox-box { display: none; position: absolute; left: 0; top: 0; margin: 5vh 0 0 50vw; transform: translate(-50%, 0); background-color: #fff; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 10001; }
	picture.cssbox-box img { display: block; position: relative; height: 90vh; visibility: hidden; }
	.cssbox-box .close { position: absolute; right: -15px; top: -15px; cursor: pointer; z-index: 4; }
	picture.cssbox-box p { display: block; position: absolute; right: 0; bottom: 0; left: 0; height: 20px; padding: 0; margin: 0; background-color: #fff; content: attr(title); text-align: center; z-index: 3; }
	
	.cssbox-content { display: block; position: relative; width: 50vw; height: 85vh; border: none; overflow: auto; z-index: 3; background-color: #fff; }
	
@media (orientation:portrait)
{
	.cssbox-box { margin: 50% 0 0 5vh; transform: translate(0, -50%); }
		picture.cssbox-box img { height: auto; width: 90vw; }
}
@media (max-width: 420px)
{
	.cssbox-box .close { right: 5px; top: 6px; }
}

input.cssbox[type="radio"]:not(:checked) + .cssbox-box { background-image: none !important; }
input.cssbox[type="radio"]:checked + .cssbox-box { display: table; }
input.cssbox[type="radio"]:not(.close):checked ~ .cssbox-overlay { display: block; }

/* LOADER ANIMATION ENABLER */
.cssbox-box:before, .cssbox-box:after { content: ""; display: block; position: absolute; }
.cssbox-box:before { top: 50%; left: 50%; z-index: 1; }
.cssbox-box:after { top: 0; right: 0; bottom: 0; left: 0; border: inherit; border-radius: inherit; background-image: inherit; background-color: transparent; background-repeat: no-repeat; background-size: cover; background-position: center center; z-index: 2; }