doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title="CSSBox demo iframe content"
		link(rel="stylesheet", href="//cdn.jsdelivr.net/gh/necolas/normalize.css/normalize.min.css")
		style
			| html, body { height: 100%; padding: 0; margin: 0; }
			| body { padding: 0 20px; font-size: 14px; }
			| 	img { display: block; float: right; padding: 0; border-radius: 10px; margin: 0 0 0 10px; }
			| 	p:first-child img { float: left; margin: 0 10px 0 0; }
	body.cssbox-content
		include html-content.pug